p {
  margin: 0;
  font-size: 14px;
}

h3 {
  margin: 0;
  align-self: center;
}

h4 {
  margin: 0;
}

.card-footer {
  font-size: 12px;
  position: absolute;
  bottom: 8px;
}

a {
  color: white;
}

.App {
  text-align: center;
}

.toggle-btn {
  text-decoration: none;
  border: none;
  background: #0069ed;
  border-radius: 2px;
  height: 32px;
  margin-top: 16px;
  color: #ffffff;
  cursor: pointer;
}

.card {
  position: relative;
  height: 40vmin;
  max-width: 319px;
  width: 50%;
  border: 3px solid white;
  border-radius: 2px;
  text-align: left;
  padding: 8px;
}

.skinny-card-line {
  height: 15px;
  width: 315px;
  margin-top: 4px;
}

.avatar-and-name {
  display: flex;
  height: 75px;
  margin-bottom: 14px;
  gap: 8px;
}

.avatar {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.name {
  height: 30px;
  width: 50%;
  margin-top: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
